<!DOCTYPE html>
<html lang="en" class="mdl-js">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="assets/favicon.ico" rel="icon">
  <link href="assets/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/css/styles.css" rel="stylesheet">
  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>
  <title>Codebreaker Web</title>
</head>

<body>
  <section id="introduction">
    <div class="container">
      <div class="row fill-viewport align-items-center justify-content-center">
        <div class="col-12 col-md-6">
          <div class="row">
            <div class="col-md-auto">
              <h1 class="text-white title">Codebreaker</h1>
            </div>
          </div>
          <p class="lead text-white-70"> Rules:</p>
          <hr class="mb-4">
          <div>
            <% rules_txt.each do |line| %>
              <p class="text-white"><%= line %></p>
            <% end %>
          </div>
          <hr class="mb-4">
          <a class="btn btn-primary btn-lg" href="/" role="button">
            Home
          </a>
          <a class="btn btn-warning btn-lg" href="/game" role="button">Back to the game</a>
        </div>
       </div>
    </section>
  </body>
</html>